[Unit]
Description="Backup Plex config to fileserver"

[Service]
Type=oneshot
ExecStart=rsync -avh --delete  --exclude=transcode /home/plex/plex-docker/ tyler@fileserver.tyler-clark.com:/srv/docker/plex-docker/

[Install]
WantedBy=multi-user.target
